<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <configSections>
    <section name ="ListSweetsSection" type="AutoClicker15.ListClickableSection,AutoClicker15"/>
    <section name ="ListSkillsSection" type="AutoClicker15.ListClickableSection,AutoClicker15"/>
    <section name ="ListStaticButtonsSection" type="AutoClicker15.ListClickableSection,AutoClicker15"/>
  </configSections>
  <ListSweetsSection>
    <Clickable name="Sweet1" posX="527" posY="486"/>
    <Clickable name="Sweet2" posX="751" posY="432"/>
    <Clickable name="Sweet3" posX="758" posY="380"/>
    <Clickable name="Sweet4" posX="871" posY="510"/>
    <Clickable name="Sweet5" posX="1004" posY="453"/>
    <Clickable name="Sweet6" posX="1057" posY="444"/>
  </ListSweetsSection>
  <ListSkillsSection>
    <Clickable name="Clickstorm" posX="600" posY="200"/>
    <Clickable name="Powersurge" posX="600" posY="250"/>
    <Clickable name="Lucky Strikes" posX="600" posY="300"/>
    <Clickable name="Metal Detector" posX="600" posY="350"/>
    <Clickable name="Golden Clicks" posX="600" posY="400"/>
    <Clickable name="The Dark Ritual" posX="600" posY="450"/>
    <Clickable name="Super Clicks" posX="600" posY="500"/>
    <Clickable name="Energize" posX="600" posY="550"/>
    <Clickable name="Reload" posX="600" posY="600"/>
  </ListSkillsSection>
  <ListStaticButtonsSection>
    <Clickable name="MonsterLevelRight" posX="1035" posY="70"/>
    <Clickable name="MonsterLevelLeft" posX="675" posY="70"/>
    <Clickable name="HeroesLevelUp" posX="550" posY="220"/>
    <Clickable name="HeroesLevelDown" posX="550" posY="655"/>
    <Clickable name="AutoProgression" posX="1110" posY="280"/>
    <Clickable name="Ascend" posX="1110" posY="325"/>
  </ListStaticButtonsSection>
</configuration>